{% extends 'base.html' %}
{% block title %}
    {{ block.super }} ReCAST Task Result
{% endblock title %}


{% block pageHeader  %}
    <h1> ReCAST Result </h1>
{% endblock pageHeader  %}

<script type="application/javascript" src="/static/js/config.js"></script>

{% block pageContent %}
    <div class="wrapper">
    <form action="/export/" method="post" enctype="multipart/form-data">{% csrf_token %}

        <p>
            <div id="body">
                <table border="1">

                </table>
            </div>
        </p>
        <p>
            <div id="vislz" >
                <div id="data_vis"></div>
                <!--TODO: float the button so to align with table at one row-->
                <div>
                    <input type="radio" value="senario 1"/>
                    <input type="radio" value="senario 2"/>
                </div>
            </div>
        </p>
        <p>
            <h3>Scenarios</h3>
            <div>
                <table border="1">
                </table>
                <button type="button">Select Scenario</button>
                <button type="button"><a href="/modify/">Modify Scenario</a></button>
            </div>
        </p>
{% endblock pageContent %}

{# part 4.list of button options #}
{% block btnBar %}
        <!-- TODO: Keep cache of user's input when back to previous page -->
        <button type="button"><a href="/createTask/">Scenario Config</a></button>
        <button type="button"><a href="/advOpt/">Advanced Option</a></button>
        <!--If user do not enable robust factor, form action set as normal; but if user does, should used JS to changed form action to robust running mode -->
        <input  type="submit" value="Run ReCAST" />
    </form>
    </div>
{% endblock btnBar %}