{% extends 'base.html' %}
{% block title %}
    {{ block.super }} Configure Task Parameters
{% endblock title %}


{% block pageHeader  %}
    <h1>Optimal Model Parameters Configuration</h1>
{% endblock pageHeader  %}

<script type="application/javascript" src="/static/js/config.js"></script>

{% block pageContent %}
    <div class="wrapper">
    <form action="/run/" method="post" enctype="multipart/form-data">{% csrf_token %}

        <p>
            <div id="div_stock_upper" class="div_table">
                <div id="div_stock_upper_left">
                    <span>Max Delay: <input type="text" name="maxdelay"> </span>
                </div>
                <div id="div_stock_upper_right">
                    <span>*Min. Buffer Stock:    <input type="text" name="maxdelay"> &nbsp; <button type="button">Apply</button> </span>
                    <br/>
                    <span>*Reserve Buffer Stock: <input type="text" name="maxdelay"> &nbsp; <button type="button">Apply</button> </span>
                </div>
            </div>
            <br/>
            <br/>
            <div class="div_table">
            <table  border="1">
                    <h5 class="table_name" > Buffer Stock Allocation</h5>
                    <thead>
                     <tr>
                      <th>Buffer Stock Parameters</th>
                      <th>CW{{ No_CW }}</th>
                      <!--<th> dynamicly add or delete a column<input ></th> -->
                     </tr>
                    </thead>
                    <tbody>
                     <tr>
                      <td>Customer Weight</td>
                      <td><input type="text" name="MB_input"/></td>
                      <!--<td> dynamicly add or delete a column<input ></td> -->
                     </tr>
                     <tr>
                      <td>Stock Weight</td>
                      <td><input type="text" name="RB_input"/></td>
                      <!--<td> dynamicly add or delete a column<input ></td> -->
                     </tr>
                  </tbody>
                </table>
                <!--TODO: float the button so to align with table at one row-->
                <div style="text-align: right">
                    <button  type="button">Apply</button>
                </div>
            </div>
        </p>
        <p>
            <h3>Allowance of Using from Stock</h3>
            <div>
                <table border="1">
                  <thead>
                    <tr>
                      <th>Customer Name</th>
                      <th>CW{{ No_CW }}</th>
                      <th>&nbsp;</th> <!-- minus symbol -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>&nbsp;{{ Customer_name }}</td>
                      <td><input type="checkbox" name="SW_input"/>Use</td> <!-- radio button when user click on it can changed into No-->
                        <!--<td> dynamicly add or delete a column<input ></td> -->
                    </tr>
                     <!--<tr> dynamicly add or delete a row for customer</tr> -->
                  </tbody>
                </table>
                <span>Note: each row is a seller/customer, and each coloumn is a time unit.</span>
            </div>
        </p>
        <p>
            <h3>Robust Factors <input type="checkbox">Enable </h3>
            <table border="1">
              <thead>
                <tr>
                  <th>Factors</th>
                  <th>CW{{ No_CW }}</th>
                  <!--<th> dynamicly add or delete a column<input ></th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Plant ATP</td>
                  <td><input type="text" name="input_PATP"/></td>
                  <!--<td> dynamicly add or delete a column<input ></td> -->
                </tr>
                <tr>
                  <td>Vulnerable ATP</td>
                  <td><input type="checkbox" name="ckb_VATP"/>Apply</td>
                  <!--<td> dynamicly add or delete a column<input ></td> -->
                </tr>
                <tr>
                  <td>Possible Gain/Loss</td>
                  <td><input type="text" name="input_PGL"/></td>
                  <!--<td> dynamicly add or delete a column<input ></td> -->
                </tr>
              </tbody>
            </table>
        </p>
{% endblock pageContent %}

{# part 4.list of button options #}
{% block btnBar %}
        <!-- TODO: Keep cache of user's input when back to previous page -->
        <button type="button"><a href="/createTask/">Scenario Config</a></button>
        <button type="button"><a href="/advOpt/">Advanced Option</a></button>
        <!--If user do not enable robust factor, form action set as normal; but if user does, should used JS to changed form action to robust running mode -->
        <input  type="submit" value="Run ReCAST" />
    </form>
    </div>
{% endblock btnBar %}