{% extends 'base.html' %}

{% block title %}
    {{ block.super }} Configure Task Parameters
{% endblock title %}

{% block script_header %}
<script>
    var CW_list   = {{ CW_list | safe }}
    var CW_len   = CW_list.length
    var CW_start = CW_list[0]
    var CW_end =   CW_list[CW_len-1]
    var plantATP =  eval('{{ plantATP }}'.replace(/&quot;/g,"'"))
    var ATP_NTA  =  eval('{{ ATP_NTA  }}'.replace(/&quot;/g,"'"))
    var customerObjList = eval('{{  customerList }}'.replace(/&quot;/g,"'"))
    var customerList_name = []
    var customerList_CMAD = []
    customerObjList.forEach(function(item){
        customerList_name.push(item["name"])
        customerList_CMAD.push(item["CMAD"])
    })
    console.log(customerList_name)
    /* test
    console.log(CW_end ) //190701_TAS_UI_SP000013593.xls
    console.log(CW_start ) //190701_TAS_UI_SP000013593.xls
    console.log(plantATP ) //190701_TAS_UI_SP000013593.xls
    console.log(ATP_NTA ) //190701_TAS_UI_SP000013593.xls
    console.log(customerList ) //190701_TAS_UI_SP000013593.xls
    console.log(customerList_name)
    console.log(customerList_CMAD)
    */
    /* */
</script>
<!-- File config.js MUST Behind of the in-inline JS at HTML
     if you want to use the JS variable at this file -->
<script type="application/javascript" src="/static/js/config.js" >
  /*
    var worker = new Worker("/static/js/config.js"); //""里面写a.js的路径
    console.log("do post")
    worker.postMessage(plantATP); //把信息传到a.js
    worker.onmessage = function(e){ //这里用来du接收a.js返回的信息
        alert(e)
    }
    console.log("finsied")
*/
</script>
{% endblock script_header %}

{% block pageHeader  %}
    <h1>Provide stock limitation, goals, and allowance</h1>
{#    <h1>Optimal Model Parameters Configuration</h1>#}
{% endblock pageHeader  %}


{% block pageContent %}
<table id="example2"></table>

    <div class="wrapper">
    <form action="/run/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>
            <div id="div_stock_upper" class="div_table">
                <div id="div_stock_upper_left">
                    <span>Max Delay: <input type="text" name="maxdelay"> </span>
                </div>
                <div id="div_stock_upper_right">
                    <span>*Min. Buffer Stock:    <input id="MBS" type="text"> <button onclick="BS_apply_callback('MBS')" class="greenBtn-small" type="button">Apply</button> </span>
                    <br/>
                    <span>*Reserve Buffer Stock: <input id="RBS" type="text"> <button onclick="BS_apply_callback('RBS')" class="greenBtn-small" type="button">Apply</button> </span>
                </div>
            </div>
        </p>
        <br/>
        <br/>
        <p>
            <div class="div_table">
                 <h5 class="table_name" > Buffer Stock Allocation</h5>
                <!-- 这里是那个表 （Handsontable） -->
                 <div id="BS_table" border="1" style="height:auto; overflow-x: scroll" name="BS">
                 </div>
                <div style="float: left">
                    <span>Currently, Sum of Reserve Buffer Stock (RBS) for CWs is <b><span id="sum_RBS"> </span></b>.</span>
                    <br/>
                    <span>(Click 'Check RBS Sum' for update Sum of RBS.)</span>
                    <br/>
                    <span>*Note: Sum of RBS must be less than <b><span id="sum_threshold"> </span></b>.</span>
                </div>
                <button id="checkRBS_btn" class="greenBtn-small" style="display: inline-block; float: right; margin-top:14px;" type="button" onclick="cleanBSTable()"> Clean  Table </button>
                <button class="greenBtn-small" style="display: inline-block; float: right; margin-top:14px;" type="button" onclick="checkRBS()">Check RBS Sum</button>
                <br/>
                <br/>
                <br/>
                <!--TODO: float the button so to align with table at one row-->
                <div  style="text-align: right; ">
                    <input id="MBS_input" style="display: none" name="MBS"/>
                    <input id="RBS_input" style="display: none" name="RBS"/>
                </div>
            </div>
        </p>
        <p>
            <h3>Allowance of Using from Stock</h3>
            <div id="allow_table"  style="height:auto;overflow-x:scroll" >
                <input id="allowTable_input" style="display: none;" name="bin_use_from_stock"/>
            </div>
            <span>Note: each row is a seller/customer, and each coloumn is a time unit.</span>
        </p>
        <br/><br/>
        <p>
            <h3>Robust Factors </h3>
            <p> <input id="robust_checkbox" type="checkbox" onclick="triggerRFtable()">Enable </p>
            <table id="RFtable" style="display: none">
            </table>
        </p>
{% endblock pageContent %}

{# part 4.list of button options #}
{% block btnBar %}
        <!-- TODO: Keep cache of user's input when back to previous page -->
        <button class="greenBtn"  type="button"><a href="/createTask/">Scenario Config</a></button>
        <button class="greenBtn"  type="button"><a href="/advOpt/">Advanced Option</a></button>
        <!--If user do not enable robust factor, form action set as normal; but if user does, should used JS to changed form action to robust running mode -->
        <input id="submit_btn" class="greenBtn" type="submit" onclick="pageSubmit(this)" value="Run " Run />
    </form>
    </div>
{% endblock btnBar %}