{% extends 'base.html' %}
{% block title %}
    {{ block.super }} Create Task
{% endblock title %}


{% block pageHeader  %}
    <h1>Initial and Scenario Configuration</h1>
{% endblock pageHeader  %}



{% block pageContent %}
    <div class="wrapper">
    {% csrf_token %}
    <!--form action="/upload/" method="post" enctype="multipart/form-data"> -->
       <p id="p_upload_prompt" class="input_input_note"></p>
        <div class="input_input">
            Upload Excel File: &nbsp;&nbsp;<span id="input_filename"></span>
            <button onclick="upload()" class="greenBtn btnAtList input_input_right" type="submit">Upload</button>
            <a style="width: 200px"><button class="greenBtn btnAtList input_input_right" type="button">
                <label for='input_excel' >Select File</label>
                <input id='input_excel'  style="display:none" type="file" name="excel_in"/>
            </button></a>
             <br/>
            <span class="input_input_note">* Note: the uploaded excel file content structure should follow by the above picture</span> <br/>
            <span class="input_input_note"> Uploaded Excel File Format</span>
            <button type="button" class="btnAtList greenBtn-small" id="imgSwitchBtn" onclick="imgTableSwitch('img')">Show Table</button>
            <button type="button" class="btnAtList greenBtn-small" id="excelSwitchBtn" onclick="imgTableSwitch('excel')">Show Image</button>
            <div style="clear: both">
            <img id="img_excel" src="/static/img/execl_format.jpg" />
            <div id="excel"></div>
            </div>
        </div>

    <!--/form-->
    <br/>
    <form action="/config/" method="post" enctype="multipart/form-data">{% csrf_token %}
         <div class="input_input">
            Task name:
                <input class="input_input_right" type="text" name="taskName" />
             <br/>
            <span class="input_input_note"> Optional item. Give a name for distinguishing different ReCAST task</span>
         </div>
         <br/>
         <div class="input_input">
            Task description:
             <textarea class="input_input_right" placeholder="e.g. you can input product ID (SP/MA)" name="taskDescription"></textarea> </h3>
             <br/>
             <span class="input_input_note"> Optional item. Give a name for distinguishing different ReCAST task </span>
         </div>
         <br/>
         <div class="input_input">
             Choose Time Horizon:
                 <div class="input_input_right">
                     CW
                     <input type="text" name="CW_start" />
                     - CW &nbsp;
                     <input type="text" name="CW_end" />
                 </div>
             <br/>
        </div> <br/>
         <div class="input_input" style="clear: both">
            Packaging Unit:
                <input class="input_input_right" type="text" name="packingUnit" />
             <br/>
            <span class="input_input_note"> Optional item. Give a name for distinguishing different ReCAST task</span>
         </div>
        <br/>
        <div class="input_input">
             Weight the scenarios
            <div style="text-align: right">
                <table class="input_table_right" border="1">
                  <thead>
                    <tr>
                      <th>Scenario No.</th>
                      <th>Customer Weight</th>
                      <th>Stock Weight</th>
                      <th>&nbsp;delete </th> <!-- minus symbol -->
                    </tr>
                  </thead>
                  <tbody id="tb_snr">
                    <tr>
                      <td>Scenario&nbsp; <span class="span_snr_no">1.</span> </td>
                      <td><input type="text" name="CW_input"/></td>
                      <td><input type="text" name="SW_input"/></td>
                      <td class="td-symbol"> <img onclick='deleteScenario(this)' class="minus" src="/static/img/mins.png"/> </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <td  class="td-symbol"> <img  class="add" src="/static/img/plus.png"/> </td>
                    </tr>
                  </tfoot>
                </table>
                <br/>
                <span class="input_input_note">* Note: value range in [0,1]</span>
                <span class="input_input_note">*

                    The sum of two weight should be 1</span>
                <script type="application/javascript" >
                        var minusList = document.getElementsByClassName("minus");
                        //var removedScenarioNo = []
                        // sNum is start from 1, rather than 0. Because it is the number assigned from 1 rather index.
                        function deleteScenario(imageElement) {
                            //removedScenarioNo.push(sNum);
                            //tr = [...minusList][sNum-1].parentElement.parentElement
                            //tr.remove()
                            td=imageElement.parentElement;
                            tr=td.parentElement;
                            tr.remove()
                        }

                        var add = document.getElementsByClassName("add")[0] // Only one add class element
                        //Initalize minus onlick event

                        //for(var each_span_ele in minusList) {
                        //    each_span_ele.onclick=function (ev) {
//
                        //    }
                        // })
                        //snr_no = 1, is already defined.
                        var snr_no = 2;
                        add.onclick = function (ev) {
                            var tb_snr = document.getElementById("tb_snr");
                            tb_snr.innerHTML = tb_snr.innerHTML
                                + '<tr><td>Scenario&nbsp; <span class="span_snr_no">' + snr_no + '</span>.</td> \
                                <td><input type="text" name="CW_input"/></td>\
                                <td><input type="text" name="SW_input"/></td>\
                                <td class="td-symbol"> <img class="minus" onclick="deleteScenario(this)" src="/static/img/mins.png"/> </td></tr>'
                            snr_no++;
                        }

                </script>
            </div>
            <br/>
    </div>
<script type="application/javascript" src="/static/js/createTask.js"></script>
{#<script type="application/javascript">#}
{#    var data = []#}
{#    function upload_callback() {#}
{#        data = {{ data | safe }}#}
{#    }#}
{#    renderExcel(data)#}
{#</script>#}
{% endblock pageContent %}

{# part 4.list of button options #}
{% block btnBar %}
        <button class="greenBtn" type="button" onclick="window.location.href='/index/'">Quit</button>
        <button class="greenBtn" type="button" onclick="pageSubmit(this)"> Next </button>
    </form>
    </div>
{% endblock btnBar %}