<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>ReCAST Login</title>
</head>
    <!--Different from others content structure so here the style body DOM element is hard coded here -->
    <body style="max-width: 100%; margin: 0">
        <img id="login-bg-img"  alt="" onerror="" onload=""/>
        <div id="login_panel">
            <!--form 里面的 action="innerAction" 在这里是在login基础上再次调用innerActino-->
            <!--如果前面没有添加/ 就是在当前页面直接加上 login了：
                就是：localhost:8000/index/login -> index 是 index.html
            -->

            <img src="/static/img/logo-min.png" />
            <form action="/index/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <span class="login-prompt">Username: <input class="login-input" type="text" name="username"/> </span><br/><br/>
                <span class="login-prompt">Password: <input class="login-input" type="password" name="password" /> </span><br/><br/><br/>
                <span><a href="/reset/">Forget Password?</a></span>
                <p class="greenBtn_p">
                    <input  class="greenBtn" type="submit" value="Login"/>
                    <a href="/register/">
                        <button class="greenBtn" type="button" > Register </button>
                    </a>
                </p>
            </form>
        </div>
    </body>
    <script type="application/javascript" >
       var old_function = document.onreadystatechange
       document.onreadystatechange =function () {
            var msg='{{ msg }}'
            if(msg != '')
                alert(msg)
           // purpose of this statement is to prevent the alert window displays twice.
           document.onreadystatechange = old_function
        }
    </script>
    <footer id="login-footer">
        <span>©2020 ReCAST Copyright | University of Limerick </span>
    </footer>
</html>